PORT=s

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0


BCRYPT_ROUNDS=12
MAX_FAILED_ATTEMPTS=5
LOCK_DURATION_MINUTES=30

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

THROTTLER_TTL =
THROTTLER_LIMIT =